.grid {
    background-color: cadetblue;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: auto 250px 400px; */
    /* gap sirve para hacer un espaciado dentro de mi caja */
    /* column-gap sirve para las columnas */
    /* row-gap sirve para las filas */
    /* row-gap: 5px;
    column-gap: 10px;    */
    gap: 5px;

}
/* Estoy creando un grid dentro de otro grid */
/* .nested-grid {

    display: grid; */
 
   /* Sirve para aplicarlo a todas las filas */
    /* grid-auto-rows: 100px; */
      /* Sirve para aplicar un min y un max dentro de cada div */
    /* grid-template-rows: minimax(20px, auto); */

    /* justify-items: Organiza los elementos dentro del espaciado que se ubiquen/abarquen */
/* } */

.elemento1{
    grid-column: 4/4;
}
.elemento2 {
    grid-column: 2/4;

}

div {
    background-color: azure;
    padding: 10px;
}

div:hover { 
    border: 1px solid black;
}

.imgGrid {
    width: 100px;
    height: 100px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 100px;
    grid-template-areas:
      "a b c"
      "a b c";
  }
  .item1 {
    grid-area: a;
  }
  .item2 {
    grid-area: b;
  }

  .item3 {
    grid-area: c;
  }

  body {
    background-color: white;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
  }

.caja {
  background-color: brown;
  width: 150px;
  height: 150px;
  margin: 10px 20px 10px 10px ;
  line-height: 150px black solid;
  text-align: center;
  align-items: center;
  display: inline-block;

}

.color {
  background-color: rgb(235, 132, 8);
  width: 160px;
  height: 160px;
  margin: 10px;
  display: inline-block;

}

.btnP {
  height: 40px;
  width: 70px;
  background-color: rgb(71, 167, 167);
}

.boxNew {
  width: 400px;
  height: 400px;
  background-color: red;
  margin: 10px;
}
.container-productos{
  display: flex;
  width: 70%;
  margin: 0 auto;
  flex-direction: column;
  border: 1px solid black;
}